/* Text Styles */

.h2 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 28pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.h3 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
}

.h4 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.userInputPrev {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #009ad5;
    -fx-fill: #009ad5;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.userInputPrevDefault {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #4d4d4d;
    -fx-fill: #4d4d4d;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.body {
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 12pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
}

.body: disabled {
    -fx-text-fill: rgba(255,255,255,0.5);
    -fx-fill: rgba(255,255,255,0.5);
}

.details {
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 10pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
}

/* Navigation Bar */

#navBarBG {
    -fx-background-color: #4d4d4d;
}

#navBar Button {
    -fx-background-size: 33px 33px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgba(0,0,0,0);
}

#navBar Button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-cursor: hand;
}

#navBar Button:pressed {
     -fx-background-color: rgba(0,0,0,0.2);
     -fx-cursor: hand;
}

#settingsButton {
    -fx-background-image: url("../assets/Settings_icon.png");
}

#backButton {
    -fx-background-image: url("../assets/Back_icon.png");
}

/* Summary Bar */

#summaryBarBG {
    -fx-background-color: #3d3d3d;
}

#summaryBarLogo {
    -fx-background-image: url("../assets/logo_100px.png");
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgba(0,0,0,0);
}

/* Status Bar */

#statusBar Button {
    -fx-background-color: #009ad5;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-min-width: 160px;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
}

#statusBar Button:disabled {
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: rgba(255, 255, 255, 0.5);
}

#statusBar Button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

#statusBar Button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-cursor: hand;
}

#cancelButton {
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(237, 28, 26, 0.9);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

#statusBarBG {
    -fx-background-color: #3d3d3d;
    -fx-border-width: 0px;
}

#nextButtonLoadingOverlay {
    -fx-background-image: url("../assets/loading.gif");
    -fx-background-size: 40px;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

/* Main Window */

#mainWindowBG {
     -fx-background-color: #222222;
     -fx-effect: innerShadow(gaussian, rgba(0,0,0,0.3), 300, 0,0,0);
}

#mainContentLogo {
    -fx-background-image: url("../assets/logo_150px.png");
    -fx-background-size: 120px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-smoothing-type: lcd;
}

/* New Scan */

#filePathBox {
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 50px;
}

#filePathLabel {
    -fx-padding: 10 25 10 25;
}

#browseButton {
    -fx-background-color: #009ad5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-min-width: 100px;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#browseButton:hover {
    -fx-background-color: #008dd3;
}

#browseButton:pressed {
    -fx-background-color: rgba(0,0,0, 0.8);
}

/* Prepare To Scan */

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-radius: 200;
}

.progress-bar > .bar {
-fx-background-color: #5dc14c;
}

.cancelled-progress-bar > .bar {
-fx-background-color: #ed1c24;
}

/* Configure Scan */

.strategyButton {
    -fx-border-color: rgba(255, 255, 255, 1);
    -fx-border-width: 2px;
    -fx-border-radius: 60px;
    -fx-padding: 25 60 25 60;
    -fx-cursor: hand;
}

.strategyButton: disabled {
    -fx-border-color: rgba(255, 255, 255, 0.5);
}

.strategyButton: hover {
     -fx-background-color: #009ad5;
     -fx-background-radius: 60px;
     -fx-border-color: #009ad5;
}

.strategyButton: pressed {
     -fx-background-color: rgba(255,255,255, 0.2);
     -fx-background-radius: 60px;
     -fx-border-color: rgba(255,255,255, 0.2);
}

.nextArrow {
    -fx-background-image: url("../assets/Forward_icon.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-color: rgba(0,0,0,0);
}

.nextArrow: disabled {
    -fx-opacity: 0.5;
}

/* Run Scan */

#startScanButton {
    -fx-background-color: #009ad5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-min-width: 150px;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#startScanButton:hover {
    -fx-background-color: #008dd3;
}

#startScanButton:pressed {
    -fx-background-color: rgba(0,0,0, 0.8);
}

/* Results */

.defaultImagePreview {
    -fx-background-image: url("../assets/loading.gif");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: black;
}

.erroredImagePreview {
    -fx-background-color: #eb4559;
}

.previewPane {
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: black;
}

.previewPane: disabled {
    -fx-effect: innerShadow(gaussian, rgba(0,0,0,0.7), 500, 200,0,0);
}

#actionBarBG {
    -fx-background-color: #999999;
}

.scroll-pane {
    -fx-background-color: #222222;
    -fx-border-width: 0;
    -fx-border-color: #222222;
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

#resultsScrollWindow .scroll-bar:horizontal, #resultsScrollWindow .scroll-bar:vertical{
    -fx-background-color: #222222;
}

#resultsScrollWindow .increment-button, #resultsScrollWindow .decrement-button {
    -fx-background-color: #222222;
    -fx-border-color: #222222;
}

#resultsScrollWindow .scroll-bar:horizontal .track,
#resultsScrollWindow .scroll-bar:vertical .track {
    -fx-background-color: #222222;
    -fx-border-color: #222222;
    -fx-background-radius: 0em;
}

#resultsScrollWindow .scroll-bar:horizontal .thumb,
#resultsScrollWindow .scroll-bar:vertical .thumb {
    -fx-background-color: #999999;
    -fx-background-radius: 5em;
}

.scroll-pane: focused {
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.scroll-pane > .corner {
    -fx-background-color: #222222;
    -fx-border-color: #222222;
}

#resultsParentGridPane{
    -fx-background-color: #222222;
}

#loadMoreButton {
    -fx-background-color: transparent;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-min-width: 200px;
    -fx-padding: 10;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#loadMoreButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

#loadMoreButton:pressed {
    -fx-background-color: rgba(0,0,0, 0.8);
}

.resultsCheckBox .box {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-width: 10;
    -fx-height: 10;
    -fx-background-color: white;
    -fx-border-width: 0;
}

.resultsCheckBox:selected .mark {
    -fx-background-color: gray;
}

.resultsCheckBox:selected .box {
}

#actionMenu {
}

#actionApplyButton {
    -fx-background-color: rgba(0,0,0, 0.8);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-min-width: 80px;
    -fx-font-size: 11pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

#actionApplyButton:hover {
    -fx-background-color: rgba(0,0,0, 0.7);
}

#actionApplyButton:pressed {
    -fx-background-color: rgba(0,0,0, 0.6);
}

#actionApplyButton:disabled {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255,255,255,0.8);
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-text-fill: rgba(255,255,255,0.8);
    -fx-min-width: 80px;
    -fx-font-size: 11pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
}

#clearSelectionButton {
    -fx-background-color: transparent;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-min-width: 100px;
    -fx-font-size: 11pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#clearSelectionButton:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

#clearSelectionButton:pressed {
    -fx-background-color: rgba(255,255,255, 0.4);
}

/* Debug Only */
GridPane {
    -fx-grid-lines-visible: false;
}