/** Text Styles **/

.h4 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.userInputPrev {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #009ad5;
    -fx-fill: #009ad5;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.body {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 10pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

/** Navigation Bar **/

#navBar Button {
    -fx-background-size: 33px 33px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgba(0,0,0,0);
}

#navBar Button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-cursor: hand;
}

#navBar Button:pressed {
     -fx-background-color: rgba(0,0,0,0.2);
     -fx-cursor: hand;
}

#navBarBG {
    -fx-background-color: #4d4d4d;
}

#settingsIcon {
    -fx-background-image: url("../assets/Settings_icon.png");
}

#backIcon {
    -fx-background-image: url("../assets/Back_icon.png");
}

#summaryBarBG {
    -fx-background-color: #3d3d3d;
}

#summaryBarLogo {
    -fx-background-image: url("../assets/logo_100px.png");
    -fx-background-size: 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgba(0,0,0,0);
}

#

#tempPane {
    -fx-border-color: #808080
}