/* Text Styles */

.h2 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 28pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.h4 {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.userInputPrev {
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: #009ad5;
    -fx-fill: #009ad5;
    -fx-font-size: 14pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: gray;
}

.body {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 10pt;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
}

/* Button Styles */


#mainContent Button, #statusBar Button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 2px;
    -fx-min-width: 100px;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-font-family: 'Helvetica Neue LT Com 45 Light';
    -fx-font-smoothing-type: lcd;
    -fx-border-color: rgba(255, 255, 255, 1);
    -fx-text-fill: #FFFFFF;
}

#mainContent Button:disabled, #statusBar Button:disabled {
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: rgba(255, 255, 255, 0.5);
}

#mainContent Button:hover, #statusBar Button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

#mainContent Button:pressed, #statusBar Button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-cursor: hand;
}

#navBar Button {
    -fx-background-size: 33px 33px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgba(0,0,0,0);
}

#navBar Button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-cursor: hand;
}

#navBar Button:pressed {
     -fx-background-color: rgba(0,0,0,0.2);
     -fx-cursor: hand;
}
/* Navigation Bar */

#navBarBG {
    -fx-background-color: #4d4d4d;
}

#settingsIcon {
    -fx-background-image: url("../assets/Settings_icon.png");
}

#backIcon {
    -fx-background-image: url("../assets/Back_icon.png");
}

#summaryBarBG {
    -fx-background-color: #3d3d3d;
}

#summaryBarLogo {
    -fx-background-image: url("../assets/logo_100px.png");
    -fx-background-size: 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-color: rgba(0,0,0,0);
}

#mainWindowBG {
     -fx-background-color: #333333;
}

#statusBarBG {
     -fx-background-color: #777676;
}

#mainContentLogo {
    -fx-background-image: url("../assets/logo_150px.png");
    -fx-background-size: 120px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-smoothing-type: lcd;
}


/* Debug */
GridPane {
    -fx-grid-lines-visible: true;
}